<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
      :root {
        --font-style: "Nunito Sans", sans-serif;
      }
      body {
        background: #131315;
        font-family: var(--font-style);
      }
      * {
        box-sizing: border-box;
        font-family: var(--font-style --font-style);
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>

    <script></script>
  </body>
</html>
