<!DOCTYPE html>
<html>
  {% extends "flask_supermarket_login.html" %} {% block title %}
  <title>🛒 Registrazione utente</title>
  {% endblock %} {% block content %}
  <body>
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary"
      style="background-color: #ffde59 !important"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse"
          id="navbarNav"
          style="display: flex; justify-content: space-between"
        >
          <ul class="navbar-nav">
            <li>
              <a class="nav-link" href="{{ url_for('index') }}"><b>Login</b></a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li>
              <a class="nav-link" href="{{ url_for('admin_login') }}"
                ><b>Area Riservata</b></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div
      class="logo"
      style="display: flex; justify-content: center; margin-bottom: 0"
    >
      <img
        src="{{ url_for('static', filename='supermarket-logo.png') }}"
        alt="logo"
      />
    </div>
    <div class="register">
      <h1>Register</h1>
      <div class="links">
        <a href="{{ url_for('index') }}">Login</a>
        <a href="" class="active">Register</a>
      </div>
      <form action="/registrate" method="post" autocomplete="off">
        <label for="username">
          <i class="fas fa-user"></i>
        </label>
        <input
          type="text"
          name="username"
          placeholder="Username"
          id="username"
          required
        />
        <label for="password">
          <i class="fas fa-lock"></i>
        </label>
        <input
          type="password"
          name="password"
          placeholder="Password"
          id="password"
          required
        />
        <label for="email">
          <i class="fas fa-envelope"></i>
        </label>
        <input
          type="email"
          name="email"
          placeholder="Email"
          id="email"
          required
        />
        <div class="msg"></div>
        <input style="border-radius: 25px" type="submit" value="Register" />
      </form>
    </div>
  </body>
  {% endblock %}
</html>
