<!DOCTYPE html>
{% extends "flask_supermarket_login.html" %}

{% block content %}
<body>
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary"
      style="background-color: #ffde59 !important"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse"
          id="navbarNav"
          style="display: flex; justify-content: space-between"
        >
          <ul class="navbar-nav">
            <li>
              <a class="nav-link" href="{{ url_for('index') }}"><b>Login</b></a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li>
              <a class="nav-link" href="{{ url_for('admin_login') }}"
                ><b>Area Riservata</b></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h4 style="margin-bottom: 2rem; margin-top: 2rem; text-align: center; color: white">{{msg}}</h4>
    <div class="custom-container container-fluid">
        <form action="/order" method="post">
          <div class="form-floating mb-3">
          </div>
          <label for="floatingSelect">Prodotti confezionati</label>
          <select
            class="form-select"
            id="confezionati"
            name="confezionati"
            aria-label="Floating label select example"
          >
            <option value="0"> </option>
            <option value="1">Pasta</option>
            <option value="2">Riso</option>
            <option value="3">Pane in cassetta</option>
          </select>
          <label for="floatingSelect">Prodotti freschi</label>
          <select
            class="form-select"
            id="freschi"
            name="freschi"
            aria-label="Floating label select example"
          >
            <option value="0"> </option>
            <option value="4">Lattuga</option>
            <option value="5">Cetrioli</option>
            <option value="6">Carne</option>
          </select>
          <label for="floatingSelect">Prodotti da frigo</label>
          <select
            class="form-select"
            id="frigo"
            name="frigo"
            aria-label="Floating label select example"
          >
            <option value="0"> </option>
            <option value="7">Ricotta</option>
            <option value="8">Provola</option>
            <option value="9">Latte</option>
          </select>
          <label for="floatingSelect">Elettrodomestici</label>
          <select
            class="form-select"
            id="elettrodomestici"
            name="elettrodomestici"
            aria-label="Floating label select example"
          >
            <option value="0"> </option>
            <option value="10">Ferro da Stiro</option>
            <option value="11">Lavatrice</option>
            <option value="12">Asciuga Capelli</option>
          </select>
          <div style="display: flex; justify-content: center">
            <input
              class="btn btn-warning"
              type="submit"
              value="Invia"
              style="margin-top: 2rem"
            />
          </div>
        </form>
      </div>
      <div
      class="logo"
      style="display: flex; justify-content: center;"
    >
      <img
        src="{{ url_for('static', filename='supermarket-logo.png') }}"
        alt="logo"
        width="15%"
      />
    </div>
  
</body>
{% endblock %}
</html>